body {
    margin: 0;
    padding : 0;
    font-size: 12px;
}

.ui-tabs .ui-tabs-nav .toolbar {float:right;}

#imagemapper {
    width : 1280px;
}

#map_editor_wrapper {
    padding: 5px 0;
}

#map_editor_wrapper #map_editor {float: left;}
#map_editor_wrapper .sidebar {padding: 0 5px; width: 245px; float: left;}

#imagemapper .sidebar button {font-size: 10px;}

.sidebar .ui-widget-header {
    display: block;
    padding: 2px 5px;
}

.sidebar .panel .ui-widget-content {
    padding: 2px 5px;
}

.sidebar .panel .ui-widget-content dt {
    float: left;
    margin: 0 10px 0 0;
}

.sidebar .header button {
    float: right;
    font-size: 10px;
    margin: 1px 2px 0 0;
    padding : 2px 5px;
}


.sidebar dt {
    float: left;
    width : 60px;
}

.sidebar input {
    width: 100px;
}

#polygon_form {
    padding: 10px;
}

#polygon_form button {
    float: right;
}

.image_mapper_container {
    width : 900px;
    height : 700px;
    overflow : scroll;
    cursor : crosshair;
}


.image_mapper_mask{
    top : 0px;
    left : 0px;
    position: absolute;
    opacity : 0;
    overflow : hidden;
}

#map_editor area {
    cursor : move;
}
