body {
    margin: 0;
    padding : 0;
}

#map_editor {
    width: 815px;
}

.image_mapper_container {
    width : 500px;
    height : 600px;
    border : 2px solid lightBlue;
    float: left;
    overflow : scroll;
    cursor : crosshair;
}

.image_mapper_mask{
    top : 0px;
    left : 0px;
    position: absolute;
    opacity : 0;
    overflow : hidden;
}

#map_editor area {
    cursor : move;
}


.image_mapper_inspector {
    width : 300px;
    height : 400px;
    float: right;
    border: 1px solid;

}

